<p-table id="list-items" [columns]="columns" [value]="listItems" [(selection)]="listSelectedId"
  selectionMode="none" dataKey="id" [paginator]="true" [rows]="rowPerPage"
  lazy="true" (onLazyLoad)=handleLazyLoad($event) [totalRecords]="totalItems"
  [first]="first">  
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th *ngFor="let column of columns" id="checkbox-position" width="{{column.width}}">
        <span *ngIf="column.type !== 'checkbox'">{{column.name}}</span>
        <p-checkbox *ngIf="column.type === 'checkbox'" name="group1" value="remember" [(ngModel)]="isSelectedAll" binary="true"
          class="table-checkbox-header"
          (onChange)="handleSelectAll()"></p-checkbox>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns" let-rowIndex="rowIndex">
    <tr (click)="handleClickRow(rowIndex%rowPerPage)" [pSelectableRow]="rowData" [ngClass]="checkRowSelected(rowIndex%rowPerPage)?'hightlight':''">
      <td *ngFor="let column of columns" [ngClass]="'align-' + column.type" width="{{column.width}}">
        {{rowData[column.key]}}
        <p-checkbox *ngIf="column.type === 'checkbox'" name="" value="remember" [(ngModel)]="rowData.checked" binary="true"
          class="table-checkbox-item"
           (onChange)="handleSelectRow($event)"></p-checkbox>     
      </td>
    </tr>
  </ng-template>
</p-table>