.align-checkbox {
    text-align: center;
}

.align-number {
    text-align: right;
}

.align-text {
    text-align: left;
}

.hightlight {
    background-color: blue !important;
    color: white !important;
}

.footer-container {
    position: relative;
}

.page-size {
    position: absolute;
    top: -2em;
    left: 1em;
}

.sumary-info {
    font-family: Roboto, "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    position: absolute;
    top: -1.6em;
    right: 1em;
}