<div class='control-buttons'>
    <button pButton type="button" class='btn' label="Create" (click)="handleClickCreateButton()"></button>
    <button pButton type="button" class="btn ui-button-secondary" label="Edit" [disabled]="listSelectedId.length !== 1"
        (click)="handleClickEditButton()"></button>
    <button pButton type="button" class="btn ui-button-danger" label="Delete" [disabled]="listSelectedId.length === 0"
        (click)="handleClickDeleteButton()"></button>
    <button pButton type="button" class="btn right-side ui-button-info" icon="fa fa-refresh"
        (click)="handleClickRefreshButton()"></button>
</div>
<app-table [listItems]="listItems" [totalItems]="totalItems" [listSelectedId]="listSelectedId" [first]="first"
    (lazyLoad)="handleLoadTableData($event)"></app-table>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425" [rejectLabel]="'No'"
    [acceptLabel]="'Yes' "></p-confirmDialog>
<ngx-loading [show]="loading"></ngx-loading>
<app-dialog [showDialog]="showDialog" [isCreate]="isCreate" [selectedItem]="selectedItem" 
(clickSubmit)="handleClickSubmit($event)"></app-dialog>